<div class="next-event">
  <div class="event-info">
    <div class="date">Januari 17th 2020</div>
    <div class="location">4DotNet - Nieuwegein</div>
  </div>
  <div class="sessions">
    <div class="session-container">
      <div class="picture">
        <img src="/assets/images/speakers/mikhail-shilkov.jpg" />
      </div>
      <div class="info">
        <div class="speaker">Mikhail Shilkov</div>
        <div class="title">Cloud Infrastructure as C# and F#</div>
        <div class="time-slot">16:30 - 17:30</div>
      </div>
    </div>
    <div class="session-container">
      <div class="picture">
        <img src="/assets/images/speakers/erwin-staal.jpg" />
      </div>
      <div class="info">
        <div class="speaker">Erwin Staal</div>
        <div class="title">OpenFaas on my Kubernetes Raspberry PI cluster</div>
        <div class="time-slot">18:15 - 18:35</div>
      </div>
    </div>
    <div class="session-container">
      <div class="picture">
        <img src="/assets/images/speakers/stacy-cashmore.jpg" />
      </div>
      <div class="info">
        <div class="speaker">Stacy Cashmore</div>
        <div class="title">
          Embrace the pitfalls (Our stop start journey to Change)
        </div>
        <div class="time-slot">18:45 - 19:45</div>
      </div>
    </div>
  </div>
  <div class="registration">
    <a
      href="https://www.eventbrite.nl/e/tickets-4dotnet-dotnetfriday-meetup-83636421789?utm-medium=discovery&utm-campaign=social&utm-content=attendeeshare&aff=escb&utm-source=cp&utm-term=listing"
    >
      <span class="register">Register Now, It's free!</span>
    </a>
  </div>
</div>
